#INVENTORY Outlook & Filtering Data

In [7]:
import pandas as pd

In [8]:
inventory = pd.read_excel('retail_store_inventory.xlsx')

In [9]:
inventory.head()

,Date,Store ID,Product ID,Category,Region,Inventory Level,Units Sold,Units Ordered,Demand Forecast,Price,Discount,Holiday/Promotion,Competitor Pricing,Seasonality,Weather Condition
0,2022-01-01,S001,P0001,Groceries,North,231,127,55,135.47,33.50,20,0,29.69,Autumn,Rainy
1,2022-01-01,S001,P0002,Toys,South,204,150,66,144.04,63.01,20,0,66.16,Autumn,Sunny
2,2022-01-01,S001,P0003,Toys,West,102,65,51,74.02,27.99,10,1,31.32,Summer,Sunny
3,2022-01-01,S001,P0004,Toys,North,469,61,164,62.18,32.72,10,1,34.74,Autumn,Cloudy
4,2022-01-01,S001,P0005,Electronics,East,166,14,135,9.26,73.64,0,0,68.95,Summer,Sunny

In [10]:
inventory.tail()

,Date,Store ID,Product ID,Category,Region,Inventory Level,Units Sold,Units Ordered,Demand Forecast,Price,Discount,Holiday/Promotion,Competitor Pricing,Seasonality,Weather Condition
73095,2024-01-01,S005,P0016,Furniture,East,96,8,127,18.46,73.73,20,0,72.45,Winter,Snowy
73096,2024-01-01,S005,P0017,Toys,North,313,51,101,48.43,82.57,10,0,83.78,Autumn,Cloudy
73097,2024-01-01,S005,P0018,Clothing,West,278,36,151,39.65,11.11,10,0,10.91,Winter,Rainy
73098,2024-01-01,S005,P0019,Toys,East,374,264,21,270.52,53.14,20,0,55.80,Spring,Rainy
73099,2024-01-01,S005,P0020,Groceries,East,117,6,165,2.33,78.39,20,1,79.52,Spring,Rainy

In [11]:
inventory.info

<bound method DataFrame.info of             Date Store ID Product ID     Category Region  Inventory Level  \
0     2022-01-01     S001      P0001    Groceries  North              231
1     2022-01-01     S001      P0002         Toys  South              204
2     2022-01-01     S001      P0003         Toys   West              102
3     2022-01-01     S001      P0004         Toys  North              469
4     2022-01-01     S001      P0005  Electronics   East              166
...          ...      ...        ...          ...    ...              ...
73095 2024-01-01     S005      P0016    Furniture   East               96
73096 2024-01-01     S005      P0017         Toys  North              313
73097 2024-01-01     S005      P0018     Clothing   West              278
73098 2024-01-01     S005      P0019         Toys   East              374
73099 2024-01-01     S005      P0020    Groceries   East              117

       Units Sold  Units Ordered  Demand Forecast  Price  Discount  \
0             127             55           135.47  33.50        20
1             150             66           144.04  63.01        20
2              65             51            74.02  27.99        10
3              61            164            62.18  32.72        10
4              14            135             9.26  73.64         0
...           ...            ...              ...    ...       ...
73095           8            127            18.46  73.73        20
73096          51            101            48.43  82.57        10
73097          36            151            39.65  11.11        10
73098         264             21           270.52  53.14        20
73099           6            165             2.33  78.39        20

       Holiday/Promotion  Competitor Pricing Seasonality Weather Condition
0                      0               29.69      Autumn             Rainy
1                      0               66.16      Autumn             Sunny
2                      1               31.32      Summer             Sunny
3                      1               34.74      Autumn            Cloudy
4                      0               68.95      Summer             Sunny
...                  ...                 ...         ...               ...
73095                  0               72.45      Winter             Snowy
73096                  0               83.78      Autumn            Cloudy
73097                  0               10.91      Winter             Rainy
73098                  0               55.80      Spring             Rainy
73099                  1               79.52      Spring             Rainy

[73100 rows x 15 columns]>

In [12]:
inventory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73100 entries, 0 to 73099
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                73100 non-null  datetime64[ns]
 1   Store ID            73100 non-null  object
 2   Product ID          73100 non-null  object
 3   Category            73100 non-null  object
 4   Region              73100 non-null  object
 5   Inventory Level     73100 non-null  int64
 6   Units Sold          73100 non-null  int64
 7   Units Ordered       73100 non-null  int64
 8   Demand Forecast     73100 non-null  float64
 9   Price               73100 non-null  float64
 10  Discount            73100 non-null  int64
 11  Holiday/Promotion   73100 non-null  int64
 12  Competitor Pricing  73100 non-null  float64
 13  Seasonality         73100 non-null  object
 14  Weather Condition   73100 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(5), object(6)
memory usage: 8.4+ MB

In [14]:
inventory.loc[inventory['Demand Forecast'] > 250, ['Store ID', 'Product ID', 'Demand Forecast', 'Units Sold']]

      Store ID Product ID  Demand Forecast  Units Sold
7         S001      P0008           329.73         312
14        S001      P0015           363.46         369
15        S001      P0016           255.74         255
16        S001      P0017           255.37         246
18        S001      P0019           267.38         257
...        ...        ...              ...         ...
73087     S005      P0008           287.34         292
73091     S005      P0012           317.46         324
73092     S005      P0013           277.27         276
73094     S005      P0015           336.64         323
73098     S005      P0019           270.52         264

[12895 rows x 4 columns]

In [3]:
import matplotlib as plt

In [5]:
x =[1, 2, 3, 4, 5, 6, 7]
y =[1, 2, 1, 2, 1, 2, 1]

plt.plot(x, y)

AttributeError: module 'matplotlib' has no attribute 'plot'